1. Python exercises with the structures if else, for loop, while loop and
range(), along with their solutions
Exercise:
Create a new list from two lists using the following condition. Given two lists of numbers, write a program to
create a new list so that the new list should contain the odd numbers of the first list and the even numbers of
the second list.

In [1]:
list_1 = [1, 2,3 , 4, 5]
list2 = [10, 15, 20, 25, 30]



big_list = []
for item in list_1 :
     if item % 2 == 0:
          big_list.append(item)

for item in list2 :
     if item % 2 == 1:
          big_list.append(item)


print(big_list)

[2, 4, 15, 25]

Exercise:
Write a program to count the total number of digits in a number using a while loop.
For example, the number is 75869, so the result should be 5.

In [3]:
number = 7586966


string_type_of_the_num = str(number)

actualList = list(string_type_of_the_num)

result = len(actualList)

print(result)

7


2. Python Functions Exercise
Exercise:
Given two integers, return their product only if it is equal to or less than 1000, otherwise return their sum.

In [4]:
num1 = 50
num2 = 12


product = num1 * num2

if product < 1000:
    print("the product of these two numbers will be ", product)
else:
    print("the sum of these two numbers will be ", num1 + num2)

the product of these two numbers will be  600

3. Python List Exercise
Exercise:
Remove all occurrences of a specific item from a list. Given a Python list, write a program to remove all
occurrences of item 20.

In [5]:
list_1 = [1 , 2, 3 , 4 ,5 , 20 , 9, 20, 90, 20 ]

for item in list_1:
    if item == 20:
        list_1.remove(20)

print(list_1)

[1, 2, 3, 4, 5, 9, 90]

4. Python tuple exercise
Exercise:
Copy specific elements from a tuple to a new tuple Write a program to copy elements 44 and 55 of the next
tuple into a new tuple.

In [6]:
tuple_1 = (1, 2 ,3, 44, 55)
tuple_2 = ()


for item in tuple_1:
    if item == 44 or item == 55:
       tuple_2 += (item, )




print(tuple_2 )

(44, 55)

5. Python Dictionary Exercise
Exercise:
Create a dictionary by extracting keys from a given dictionary Write a Python program to create a new
dictionary by extracting the mentioned keys from the dictionary below.
sample_dict = { "name": "Kelly", "age": 25, "salary": 8000, "city": "New York"}
*keys to extract = ["name", "salary"]
rÃ©sultat attendu : {'name': 'Kelly', 'salary': 8000}

In [7]:
sample_dict = {"name": "Kelly", "age": 25, "salary": 8000, "city": "New York"}
keys_to_extract = ["name", "salary"]



sample_dict = {"name": "Kelly", "age": 25, "salary": 8000, "city": "New York"}


keys_to_extract = ["name", "salary"]


new_dict = {}

for key in keys_to_extract:
    if key in sample_dict:
        new_dict[key] = sample_dict[key]



print("New dictionary with extracted keys:")
print(new_dict)

New dictionary with extracted keys:
{'name': 'Kelly', 'salary': 8000}

6. Object-Oriented Programming (OOP) Exercise in Python: Exercises on
Classes and Objects
Exercice POO :
Create a Class with Instance Attributes
Write a Python program to create a Vehicle class with instance attributes max_speed (maximum speed) and
mileage (mileage).

In [8]:
class vehicle :

    def __init__(self, max_speed, mileage):
        self.max_speed = max_speed
        self.mileage = mileage

OOP Exercise :
Class Inheritance Given: Create a Bus child class that inherits from the Vehicle class. The default fare charge
of any vehicle is seating capacity * 100. If Vehicle is Bus instance, we need to add an extra 10% on full fare as
a maintenance charge. So total fare for bus instance will become the final  
amount = total fare + 10% of the total fare.
Note: The bus seating capacity is 50. so the final fare amount should be 5500. You need to override the fare()
method of a Vehicle class in Bus class.

In [15]:
class Vehicle:
    def __init__(self, max_speed, mileage, seating_capacity):
        self.max_speed = max_speed
        self.mileage = mileage
        self.seating_capacity = seating_capacity

    def fare(self):
        return self.seating_capacity * 100

class Bus(Vehicle):
    def __init__(self, max_speed, mileage, seating_capacity=50):
        super().__init__(max_speed, mileage, seating_capacity)

    def fare(self):
        total_fare = super().fare()
        maintenance_charge = total_fare * 0.10
        return total_fare + maintenance_charge

bus1 = Bus(80, 20000)


print(f"Total Bus fare: {bus1.fare()}")


print(f"Bus maximum speed: {bus1.max_speed} km/h")
print(f"Bus mileage: {bus1.mileage} km")
print(f"Bus seating capacity: {bus1.seating_capacity}")

Total Bus fare: 5500.0
Bus maximum speed: 80 km/h
Bus mileage: 20000 km
Bus seating capacity: 50

7. Exercice Python JSON (Javascript Object Notation)
Exercise:
Access the value of key2 from the following JSON

In [17]:
import json

# Given JSON string
sampleJson = '{"key1": "value1", "key2": "value2"}'

# Parse JSON
parsed_json = json.loads(sampleJson)

# Access the value of key2
value_of_key2 = parsed_json["key2"]

# Print the value of key2
print(value_of_key2)

value2

Exercise:
Sort JSON keys and write them to a file
Sort the following JSON data in alphabetical order by keys
sampleJson = {"id" : 1, "name" : "value2", "age" : 29}
Expected result: { "age": 29, "id": 1, "name": "value2" }

In [18]:
import json

sampleJson = {"id": 1, "name": "value2", "age": 29}


sorted_sample_json = {}

for key in sorted(sampleJson):
    sorted_sample_json[key] = sampleJson[key]


sorted_sample_str = json.dumps(sorted_sample_json, indent=4)

with open("sorted_sample.json", "w") as file:
    file.write(sorted_sample_str)


print (sorted_sample_str)

{
    "age": 29,
    "id": 1,
    "name": "value2"
}